body{
	margin:0;
}


h1 {
    font-size: 1em;
    font-family: montserrathairline;
}


/* Header and Menu */

#logosquare {
    left: 15%;
    top: .7vh;
    height: 100px;
    position: fixed;
    z-index:10; 
}


#logo {
    left: 15%;
    top: .7vh;
    height: 100px;
    position: relative;
    z-index: 11;
    width: 20%;
}

#header{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 9;
}

#menu{
    font-family: montserrathairline;
	right: 15%;
    top: 25px;
	position: fixed;
    z-index: 10;
}

#menu li{
	display: inline;
    margin-left: 30px;
}

#menu a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #000;
}

#menu a:hover{
    color: #FFDA02;
}


/* Home */


#home{
    top:-8vh;
    position: fixed;
	height: 100vh;
	width: 100%;
	text-align: center;
    vertical-align: bottom;
    z-index: -1;
}

#texthome{
    top: 40vh;
    position: fixed;
    color: #fff;
    font-size: 6em;
    text-align: center;
    z-index: 2;
    left: 30%;
}

/* Projects */

#projects{
    background-color: #1F1F1F ;
    height: 1380px;
    width: 100%;
    padding-top: 75px;
    padding-left: 0%;
    padding-right: 0%;
    z-index: 5;
    margin-top: 100vh;
}

iframe {
    height:100%;
}

/* About */

#about{
    height: 85vh;
	width: 70%;
    padding-top: 15vh;
    padding-left: 15%;
    padding-right: 15%;
	background-image:url(img/about.jpg);
    background-color: #FFDA02;
    background-size: cover;
    text-align: left;
}

#about h1{
    top: 40vh;
    font-family: montserratregular;
    font-size: 40px;
    color: #000;
    text-align: left;
    line-height: 40px;
    position: inherit;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#about p{
    font-family: montserrathairline;
    font-size: 0.9em;
    color: #000;
    text-align: left;
    line-height: 24px;
}

#textabout{
    width: 35%;
    float: left;
}

#resume{
    font-family: montserratlight;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

#resume:hover {
    color: #fff;
    
}

#social{
    margin-top: 4vh;
    width: 40%;
    opacity: .8;
}

#social a img{
    width: 16%;
    margin-right: 3%;
    display: inline;
}

/* Contact */

#description {text-align: center;}

#contact{
	height: 85vh;
	width: 70%;
    padding-top: 15vh;
    padding-left: 15%;
    padding-right: 15%;
	background-color: #1F1F1F;
	vertical-align: middle;
}

#contact h1{
    font-family: montserrathairline;
    font-size: 3.5em;
    color: #fff;
    text-align: center;
}

#contact footer {
    font-family: montserratregular;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #c1c1c1;
    text-align: center;
    width: 100%;
    float: left;
}

/* Slide Show */

#slidy-container {
width: 100%; overflow: hidden;
}

#slidy { margin: 0; font-size: 0; position: relative; width: 400%; }

#slidy img { width: 25%; }


/* Contact Form */


.bootstrap-frm {
    margin-left: auto;
    margin-right: auto;   
    width: 100%;
    }

.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
    font-family: montserratlight;
    color: #fff;
    text-decoration: uppercase;
    }

.bootstrap-frm label>span {
    float: left;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    padding-right: 0px;
    margin-top: 6px;
    color: #333;
    font-family: robotomedium;
    }
   
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 0px solid #CCC;
    color: #000;
    height: 30px;
    width: 100%;
    line-height:15px;
    margin-bottom: 16px;
    margin-top: 5px;
    outline: 0 none;
    padding: 5px 0px 5px 10px;
    font-family: montserratlight;
    font-size: 16px;
    background-color: #fff;
    }

.bootstrap-frm textarea{
    height:50px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    }

.bootstrp-frm textarea:active{
    background-color: #000;
}

.bootstrap-frm .button {
    background: #000;
    border: 3px solid #000;
    padding: 10px 25px 10px 25px;
    color: #fff;
    text-decoration: uppercase;
    font-size: 16px;
    font-family: montserratlight;
    float: right;
    margin-right: 0%;
    }

.bootstrap-frm .button:hover {
    color: #000;
    background-color: #FFF;
    border-color: #000;
    }



.bootstrap-frm input placeholder {
    color: #555;
}

#form-fields {
  float: left;
  width: 32%;
  margin-left: 1.5%;
}

#form-fields-left {
    float: left;
    width: 33%;
    margin-left: 0%;
}



/* Fonts */

@font-face {
    font-family: 'montserrathairline';
    src: url('fonts/Montserrat-Hairline-webfont.eot');
    src: url('fonts/Montserrat-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Hairline-webfont.woff2') format('woff2'),
         url('fonts/Montserrat-Hairline-webfont.woff') format('woff'),
         url('fonts/Montserrat-Hairline-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratlight';
    src: url('fonts/Montserrat-Light-webfont.eot');
    src: url('fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Light-webfont.woff2') format('woff2'),
         url('fonts/Montserrat-Light-webfont.woff') format('woff'),
         url('fonts/Montserrat-Light-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/Montserrat-Bold-webfont.eot');
    src: url('fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Bold-webfont.woff2') format('woff2'),
         url('fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('fonts/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratregular';
    src: url('fonts/Montserrat-Regular-webfont.eot');
    src: url('fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('fonts/Montserrat-Regular-webfont.ttf') format('truetype'),
         url('fonts/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}